body {
  background-color: aquamarine;
  color: blueviolet;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: white;
}
a:visited {
  
}
.container {
  width: 80%;
  margin: auto;
}

.button{
  background-color:rgb(5, 5, 5);
  color: red;
  padding:10px 15px;
  border:none
}
.button:hover{
  background: red;
  color: white;
}
.box-1 {
  background-color: darkgrey;
  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px black solid;
  border-bottom: 5px black solid;
  border-width: 16px;
  padding: 20px;
  margin: 20px;
}

.box-1 h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.2em;
}
.box-2 {
  border: 3px dotted;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px red solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.categories li{
  padding-bottom: 6px;
  border-bottom: dotted 1px black;
  list-style-image: url("/CSS\ cheatsheet/images/check3.png") ;
}
 
.my-form{
  padding: 40px;
}

.myform .form-group{
  padding-bottom:30px;
}
.my-form label{
  display:block;
}
.my-form input{
  padding: 8px;
  width: 100%;
}
